.cR .fshActionBox {
  background: -webkit-linear-gradient(top, rgba(255,255,255,0.4) 0%,rgba(255,255,255,0.2) 100%);
  border-radius: 4px;
  border: solid 0 #ffffff;
  box-shadow: 0 1px 3px #000000;
  margin: 6px 4px 4px;
  padding: 4px;
  overflow: hidden;
}
#actionContainer .fshActionBox:nth-child(4) {
  margin-top: 3px;
}

.titanInfo table {width: 184px;}
.titanInfo .header {font-size: 11px;}
.titanInfo .cooldown {font-weight: bold;}
