.quickActionSpinner {
  display: inline;
  vertical-align: middle;
}
.quickAction {
  display: inline-block;
  width: 72px;
  text-align: center;
}
.aHLink {
  display: inline-block;
  width: 2.2em;
}
