/* https://stephanwagner.me/only-css-loading-spinner */
/* Requires position: relative, absolute or fixed */
@-webkit-keyframes fshSpinner {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes fshSpinner {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.fshSpinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px; /* TODO Find most common values here */
  height: 20px; /* TODO Find most common values here */
  margin-top: -10px; /* TODO Find most common values here */
  margin-left: -10px; /* TODO Find most common values here */
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #07d;
  -webkit-animation: fshSpinner .6s linear infinite;
  animation: fshSpinner .6s linear infinite;
}
.fshSpinner64:before {
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
  border-width: 4px;
}
.fshSpinner12:before {
  width: 12px;
  height: 12px;
  margin-top: -6px;
  margin-left: -6px;
}
.fshSpin12:before {
  width: 12px;
  height: 12px;
}
.fshComposingSpinner:before {
  top: 75%;
}
