  & .st-sort-asc:after {
    /* content: '\25b3\0020'; */
    /* content: '\25b3'; */ /* Outline */
    content: '\25b2'; /* Solid */
  }

  & .st-sort-desc:after {
    /* content: '\25bd\0020'; */
    /* content: '\25bd'; */ /* Outline */
    content: '\25bc'; /* Solid */
  }
