/* New Guild Log */
#fshInjectHere5, #headerTable5 {
  table-layout: fixed;
}
#headerTable5 td:nth-child(1),
#fshInjectHere5 td:nth-child(1) {width: 16px;}
#headerTable5 td:nth-child(2),
#fshInjectHere5 td:nth-child(2) {width: 108px;}
#headerTable5 td:nth-child(3),
#fshInjectHere5 td:nth-child(3) {width: 488px;}
/* #fshInjectHere5 tr:nth-child(2n+2) {height: 19px;} */
