.cR .imp-0 {
  color: red;
  font-weight: bold;
}
.cR .imp-1 {
  color: orangered;
  font-weight: bold;
}
.cR .xSmallLink {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  font-size: xx-small;
}
