.fshBioContainer {
  border: 1px solid;
  border-color: grey black black grey;
  margin: 1em auto 0;
  overflow-wrap: break-word;
}
.fshBioProfile {
  width: 327px;
}
.fshBioGuild {
  width: 334px;
}
.fshBioHall {
  max-width: 609px;
}
.fshBioHeader {
  background-color: #CD9E4B;
  color: #7D2252;
}
.fshBioPreview {
  padding: 2px;
  text-align: left;
}
.fshBioInner {
  border: 1px solid;
  border-color: black grey grey black;
  margin: 1.5px;
}
