.parent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.parent a {
  height: 17.4px;
  width: 17.4px;
  background-size: contain;
  border: solid 1px #4f3717;
  border-radius: 2px;
}
