.xxsLink {
  color: yellow;
  cursor: pointer;
  font-size: xx-small;
  text-decoration: underline;
}
.xsGreen {
  color: lawngreen;
  cursor: pointer;
  font-size: x-small;
  text-decoration: underline;
}
.xsOrange {
  color: orange;
  font-size: x-small;
}
.xsKhaki {
  color: khaki;
  font-size: x-small;
}
